*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    background-image: url(../starsky.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.title{
    position: absolute;
    text-align: center;
    height: 200px;
    width: 50%;
    top:50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    color:#fff;
}
.button{
    position: absolute;
    text-align: center;
    top: 300px;
    left: 50%;
    
    transform: translate(-50%,-50%);
    color:#fff;
}
h2{
    position: absolute;
    top: 50%;
    left: 50%;
}
